* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.conteiner_body {
    max-width: 1366px;
    min-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    background-image: url(./img/oboi.jpg);
}

.conteiner_body_one {
    max-width: 1366px;
    min-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    background-image: url(./img/oboi.jpg);
}

.conteiner_index {
    text-align: center;
    color: #fff;
    background-image: url(./img/oboi.jpg);
    margin: 0 auto;
}

.conteiner_contacts {
    max-width: 1366px;
    min-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    background-image: url(./img/oboi.jpg);
}

.conteiner-ind {
    max-width: 1366px;
    min-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    background-image: url(./img/oboi.jpg);
}

.conteiner_one img {
    float: left;
    margin-right: 20px;
}

.conteiner_index,
p {
    color: #fff;
}

a {
    color: rebeccapurple;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    font-variant: normal;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.fon {
    background-color: #eaeaea;
}
.heading {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}
.head_text {
    color: black;
}
.clear_heading {
    clear: both;
}
.phone {
    color: #fff;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.top {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.styl_new {
    margin-left: 50px;
    width: 1200px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    line-height: inherit;
    text-align: left;
    background-color: skyblue;
    border: 2px solid rebeccapurple;
}
.styl_new li {
    margin-left: 20px;
    list-style-image: url("./img/style.png");
}
input[type="text"] {
    background-color: palevioletred;
    color: black;
    width: 220px;
    height: 20px;
}

textarea {
    width: 400px;
    height: 200px;
}
.textarea {
    text-transform: capitalize;
}
input[type="text"] {
    text-transform: capitalize;
}
img {
    height: 200px;
    width: 300px;
    outline-style: double;
    outline-color: rebeccapurple;
}
img:hover {
    border: none;
    outline-style: none;
}
textarea {
    background-color: lightgrey;
}
.menu li {
    width: 200px;
    height: 25px;
    border: 1px solid black;
    text-align: center;
}
.menu li a:hover {
    color: lightskyblue;
}
.menu li a:active {
    color: black;
}
.menu li {
    background-color: skyblue;
}
.menu a {
    display: block;
    width: 100%;
    height: 26px;
    color: black;
    width: 201px;
    text-decoration: none;
}
.menu a:hover {
    background-color: #184155;
}
.menu {
    position: absolute;
    left: 700px;
    bottom: 70px;
}
.menu li {
    display: inline-block;
}
.menu {
    padding: 0;
    margin: 0;
}
.menu li {
    list-style-type: none;
}
.header {
    background-image: url(./img/oboi.jpg);
    height: 170px;
    max-width: 1366px;
    min-width: 600px;
    margin: 0 auto;
}
.header {
    position: relative;
}
.logo {
    width: 100px;
    height: 100px;
}
.footer {
    height: 100px;
    background-image: url(./img/oboi.jpg);
}
.footer {
    text-align: right;
    overflow: hidden;
}
.footer h4 {
    color: #fff;
    margin-right: 30px;
    margin-top: 70px;
}
.footer {
    width: 1366px;
    margin: 0 auto;
}
.clr {
    height: 200px;
}
.footindex {
    width: 1366px;
    margin: 0 auto;
}
.img {
    outline: 4px solid rebeccapurple;
    width: 1357px;
    height: auto;
}
textarea {
    text-transform: capitalize;
}
table {
    border: 1px solid black;
    width: 600px;
    height: 60px;
    border-collapse: collapse;
}
table td {
    border: 1px solid black;
}
td {
    font-size: 30px;
    text-align: center;
    color: black;
    background-color: skyblue;
}
p:first-letter {
    font-size: 30px;
    color: brown;
}
.text_table {
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: black;
}



.logo img {
    width: 200px;
    height: 150px;
    margin-left: 50px;
    margin-top: 10px;
}
.sudmit li {
    border: 1px solid #ccc;
    width: 200px;
    height: 50px;
    color: darkgreen;
    background-color: burlywood;
    margin-left: 50px;
    text-align: center;
}
.sudmit li:hover {
    color: aliceblue;
    ;
    background-color: black;
}
.sudmit li a:hover {
    color: red;
}
.sudmit a {
    display: block;
    width: 200px;
    height: 50px;
    margin-top: 13px;
}
.katalog {
    min-height: 100%;
    max-width: 1366px;
    min-height: 500px;
    margin: 0 auto;
    padding-bottom: 190px;
    background-image: url(./img/oboi.jpg);
}
.katalog_one {
    display: inline-block;
    margin-left: 100px;
    margin-top: 140px;
}
.katalog_one a {
    color: #fff;
    text-decoration: none;
}
.katalog_one a:hover {
    color: gainsboro;
}
h1 {
    padding-top: 50px;
    color: #fff;
}
fieldset {
    width: 400px;
    height: 500px;
    margin-left: 30px;
    margin-top: 50px;
}
.h3 {
    margin-left: 150px;
}
.contact-dann li {
    margin-left: 50px;
}
.contact-dann b {
    margin-left: 50px;
}
.carta {
    margin-top: 50px;
}
.zagalovok {
    color: black;
}